<head>
	<title>pushpin'd | Edit Profile</title>
	<meta name='description' content='displays form for editing profile information' />

	{% load staticfiles %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src='{% static "locationlib/bootstrap.js" %}'></script>
	<link rel="stylesheet" type='text/css' href="static/style.css" />
	<link rel="stylesheet" type='text/css' href="{% static 'locationlib/bootstrap.min.css' %}" />
</head>

<body>
	<h1><a href="{% url 'home' %}">Pushpin'd</a></h1>
	<p>You are editing 
		<a href='{% url "users:profile" user.id %}'>
			{% if profile.firstName != ''%}
				{{profile.firstName}}'s
			{% else %}
				{{user}}'s
			{% endif %}
		</a> profile right now.
	</p>

	<!-- Profile edit form -->
	<form action='{% url "users:save" user.id %}' method = "post">
		{% csrf_token %}
		<p><label for="id_firstName">First Name:</label> <input id="id_firstName" maxlength="50" name="firstName" type="text" /></p>
		<p><label for="id_lastName">Last Name:</label> <input id="id_lastName" maxlength="50" name="lastName" type="text" /></p>
		<p><label for="id_about">About:</label> <textarea id="id_about" maxlength="500" name="about" type="text"></textarea></p>
		<p><select id="id_user" name="user" style='display:none'>
		<option value="{{user.id}}" selected="selected">{{user}}</option>
		</select>
		</p>
		<input type='submit' value="Save Changes">
	</form>

</body>