<head>
	<title>pushpin'd | {{user}}</title>
	<meta name='description' content="displays a particular user's profile" />

	{% load staticfiles %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src='{% static "locationlib/bootstrap.min.js" %}'></script>
	<link rel="stylesheet" type='text/css' href="{% static 'users/style.css' %}" />
	<link rel="stylesheet" type='text/css' href="{% static 'locationlib/bootstrap.min.css' %}" />
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/">pushpin'd</a>
	        </div>
	        <div class="navbar-collapse collapse">
		        <ul class="nav navbar-nav">
		            <li><a href="{% url 'home' %}">Home</a></li>
		            <li><a href="#about">About</a></li>
		            <li><a href="#contact">Contact</a></li>
		            {% if loggedin %}
		            	<li class="dropdown active">
		            		<a class="dropdown-toggle" data-toggle="dropdown">You <span class="caret"></span></a>
			            	<ul class="dropdown-menu" role="menu">
				                <li><a href='{% url "users:profile" request.user.id %}'>Profile</a></li>
				                <li><a href="{% url 'users:places' request.user.id %}">Your Places</a></li>
				                <li><a href="{% url 'users:add' request.user.id %}">New Place</a></li>
				            </ul>
				        </li>
		            {% endif %}
		        </ul>
	        	{% if not loggedin %}
		        	<form class="navbar-form navbar-right" role="form" action="{% url 'authenticator' %}" method="POST">
			            <div id="mini-login" class="form-group">
							{% csrf_token %}
							<input type='text' placeholder="Username" name="username" class="form-control">
							<input type='password' placeholder="Password" name="password" class="form-control">
							<input type='Submit' value='Log In' class="btn btn-success">
						</div>
		            </form>
	            {% else %}
	            	<ul class="nav navbar-nav navbar-right">
			    		<li><a href='{% url "logout" %}' >Log out</a></li>
			    	</ul>
			    {% endif %}
		    </div><!--/.navbar-collapse -->
	    </div>
	</div>


	<!-- PROFILE INFO -->
	<div class='cover-container' id='profile-cover'>
		<p>placeholder for cover photo</p>
	<div>

	<div class='container' id='profile-basic-info'>
		<div class=''>
			{% if profile.firstName != '' %}
				<div class='container' id='profile-name'>
					<p>{{profile.firstName}} {{profile.lastName}}</p>
				</div>
			{% endif %}
			<div class='container' id='profile-username'>
				<p>{{profile.user.username}}</p>
			</div>
		</div>
	</div>

	<div class="container" id="profile-about">
		<p>About</p>
		<div class=''>
			<p>{{profile.about}}</p>
		</div>
	</div>

	{% if user == request.user %}
		<div class='container' id='profile-edit-link'>
			<div class=''>
				<a href="{% url 'users:edit' request.user.id %}">edit profile</a>
			</div>
		</div>
	{% endif %}

	{% if recent_location_list|length != 0 %}
		<div class='container' id='profile-recent-locations'>
			<h4>{{profile.firstName}}'s Recent Places</h4>
			<div class='list-group'>
				{% for location in recent_location_list %}
					<a class="list-group-item" href="{% url 'locationlib:detail' location.id %}">
						<div class="container" id="item-container">
							<h4 class="list-group-item-header">{{location.name}}</h4></li>
							<p class="list-group-item-text">{{location.custDescription}}</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>

	{% else %}
		<div class='container' id='profile-no-locations'>
			<div class=''>
				<a href="{% url 'users:add' request.user.id %}">Add your first place?</a>
			</div>
		</div>
	{% endif %}

</body>