<head>
	<title>{{ location.name }} | Edit Info</title>
	<meta name='description' content='displays form for editing location information'/>
	<!-- jQuery, Bootstrap, and styling -->
	{% load staticfiles %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src='{% static "locationlib/bootstrap.min.js" %}'></script>
	<link rel="stylesheet" type='text/css' href="{% static 'locationlib/style.css'%}" />
	<link rel="stylesheet" type='text/css' href="{% static 'locationlib/bootstrap.min.css' %}" />
</head>

<body>
	<div id='page-header'>
		<h1><a href="{% url 'home' %}">Pushpin'd</h1>
		<a href="{% url 'users:places' request.user.id %}">back to places</a>
	</div>

	<div id="page-description">
		<p>Use this page to edit the name and description displayed for {{ location.name }}.</p>
	</div>

	<div id='edit-form'>
		<form action="{% url 'locationlib:save' location.id %}" method="post">
			{% csrf_token %}
			Name: <input type="text" name="name" value="{{ location.custName }}"><br>
			Description: <textarea name="description" rows="10" cols="40" maxlength='500'>{{ location.custDescription }}</textarea><br>
			<input type="submit" value="Save Changes">
		</form>
	</div>

	<div id='delete-button'>
		<form action="{% url 'locationlib:delete' location.id %}" method="post">
		{% csrf_token %}
		<input type='submit' value='Delete this place.'>
		</form>
	</div>
</body>